.itemBodyDiv {
    display: flex;
    justify-content: center;
}

.itemImgDiv {
    display: flex;
    justify-content: center;
    background-color: #ECEBEA
}

.itemImgDiv img {
    max-width:80%
}

.outerImgDiv {
    width: 18.2%;
    margin: 5px;
}

.centerText {
    text-align: center
}