@font-face {
    font-family: 'Amazon Ember';
    src: url('../../fonts/Ember/AmazonEmber_Lt.ttf') format('ttf');
}

.navbar {
    box-sizing: border-box;
    width:100%;
    height: 60px;
    background-color: #131921;
    display: grid;
    grid-template-columns: 300px 800px 400px;
    grid-template-rows: 1fr;
    /* overflow:hidden; */
}

.one {
    
    grid-column: 1/span 1;
    
}

.two {
    grid-column: 2/span 1;
    
}

.three {
    
    display:flex;
    justify-content: space-evenly;
    grid-column: 3/span 1;
    

}

.element {
    margin-top: 5px
}

.loginDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginDiv:hover .loginDiv-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginDiv-content {
    
    top: 100%;
    left: -400px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:600px;
    height: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.p1 {
    display: block;
    font-size: 12px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    margin:0;
    color: white;
}

.p2 {
    display: block;
    font-size:14px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    margin:0;
    font-weight: bold;
    color: white;
}

.p3 {
    display: block;
    font-size:10px;
    font-family: 'Amazon Ember', Arial, sans-serif;
    margin:0;
}

.button2 {

    background: #f7ce20;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #f7ce20;
    padding: 7px;
    width: 277px;
    margin-bottom: 10px;
}

.button2:hover {
    background: #e6bc06;
    cursor: pointer;
}

.cart {
    box-sizing: border-box;
    height: 60px;
}

.cart img{
    height: 100%;
}